In [15]:
import pandas as pd
import numpy as np

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
df= pd.read_csv('movie_data.csv')

In [18]:
df.head()

,index,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,imdb_score
0,0,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,Wes Studi,7.9
1,1,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,Jack Davenport,7.1
2,2,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,Stephanie Sigman,6.8
3,3,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,Joseph Gordon-Levitt,8.5
4,4,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,NaN,7.1

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         5043 non-null   int64
 1   actor_2_name  5030 non-null   object
 2   genres        5043 non-null   object
 3   actor_1_name  5036 non-null   object
 4   movie_title   5043 non-null   object
 5   actor_3_name  5020 non-null   object
 6   imdb_score    5043 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 275.9+ KB

In [20]:
print(df.isnull().sum())

index            0
actor_2_name    13
genres           0
actor_1_name     7
movie_title      0
actor_3_name    23
imdb_score       0
dtype: int64

In [21]:
missing_all_actors = df[['actor_1_name', 'actor_2_name', 'actor_3_name']].isnull().all(axis=1)

In [22]:
print(df[missing_all_actors])

      index actor_2_name              genres actor_1_name  \
4502   4502          NaN         Documentary          NaN
4519   4519          NaN   Documentary|Drama          NaN
4720   4720          NaN         Documentary          NaN
4837   4837          NaN         Documentary          NaN
4945   4945          NaN  Documentary|Family          NaN
4946   4946          NaN     Documentary|War          NaN
4990   4990          NaN         Documentary          NaN

                   movie_title actor_3_name  imdb_score
4502       Pink Ribbons, Inc.           NaN         7.4
4519       Sex with Strangers           NaN         4.7
4720   The Harvest/La Cosecha           NaN         7.2
4837   Ayurveda: Art of Being           NaN         7.6
4945     The Brain That Sings           NaN         8.2
4946  The Blood of My Brother           NaN         6.6
4990                 Counting           NaN         6.0

In [23]:
indices_to_drop = df.index[missing_all_actors]

In [24]:
df.drop(indices_to_drop, inplace=True)